nav {
  border: 2px dotted goldenrod;
  color: white;
}

a {
  font-size: 2em;
  background-color: black;
  color: white;
}

.main {
  border: 2px dotted goldenrod;
  background-color: rbga(0,0,0,0);
}

.side {
  border: 2px dotted goldenrod;
  background-color: rbga(0,0,0,0);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

body {
  font: 100% Helvetica, sans-serif;
  background: rgb(93,8,6) url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

div {
  color: white;
  font-size: 1.15em !important;
}

.form-control {
  margin: 10px 0 !important;
}

.input-group {
  margin-top: 40px !important;
}